div.chat-container{
    display: flex;
    background-color: white;
    width: 30%;
    height: 70px;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1.5px solid rgb(220, 220, 220);
    position: relative;
    top: 6.57em;
    > div.chat-properties-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        cursor: pointer;
        > img{
            width: 50px;
            height: auto;
            cursor: pointer;
        }
        > div.chat-body{
            display: flex;
            flex-direction: column;
            > div.chat-profile-details{
                display: flex;
                > p.chat-name{
                    display: flex;
                    margin-left: 15px;
                    font-size: 17px;
                }
                > p.chat-time{
                    margin-top: 3px;
                    margin-left: 17em;
                    margin-right: auto;
                    font-size: 13px;
                    color: rgb(150, 150, 150);
                }
            }
            > div.chat-last-message{
                display:flex;
                margin-left: 15px;
                > p{
                    margin-top: 3px;
                    margin-right: auto;
                    font-size: 13px;
                    color: rgb(150, 150, 150);
                }
                > button.btn-options{
                    background: none;
                    border: none;
                    margin-top: 3px;
                    > img{
                        width: 17px;
                        cursor: pointer;
                        &::before{
                            width: 17px;
                            visibility: hidden;
                            cursor: pointer;
                        }
                        &::after{
                            width: 17px;
                            visibility: visible;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    &:hover{
        background-color: rgb(245, 245, 245);
    }
}